<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Classification_Matix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')

#불러올 파일의 경로를 filename 변수에 저장
file = '/content/drive/My Drive/Data Mining/random_number.csv'

#pandas read_csv로 불러오기
data = pd.read_csv(file, header= None)
print(data.shape)
data.head()

Mounted at /content/drive
(10000, 2)

   0  1
0  2  1
1  2  2
2  0  0
3  2  2
4  0  0

## Make a Empty DataFrame (3x3)
DataFrame to Use Classification Matrix[링크 텍스트](https://)

In [2]:
matrix = np.zeros((3,3))
matrix = pd.DataFrame(matrix)
matrix = matrix.astype(int)
matrix

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0

## Assign Data to Classification Matrix

In [3]:
for i in range(data.shape[0]):
  actual = data[0][i]
  predicted = data[1][i]
  matrix[predicted][actual] += 1

In [4]:
matrix

      0    1    2
0  6847    0    0
1  1559    0    0
2     0  745  849

## Accuracy Measurement

In [5]:
correct_cnt = matrix[0][0] + matrix[1][1] + matrix[2][2]
accuracy = correct_cnt / data.shape[0]
accuracy

0.7696

## Error Measurement

In [6]:
error = 1 - accuracy
error

0.23040000000000005