<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Data_Mining_Assignment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [230]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans


#불러올 파일의 경로를 filename 변수에 저장
drive.mount('/content/drive')
file_name = '/content/drive/My Drive/Data Mining/student_health_3_assignment10.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [231]:
data = pd.read_csv(file_name,  encoding='cp949')
data.head(1)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사 수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  77  58

[1 rows x 25 columns]

In [232]:
grade = data['학년']
grade.value_counts()  # 1, 4학년만 있음

4    569
1    556
Name: 학년, dtype: int64

In [233]:
std = pd.DataFrame(data, columns=['수축기', '이완기', '키', '몸무게', '학년'])
std = std.dropna()                    # null 값 처리

std.loc[std['학년'] == 1, '학년'] = 1     # 1학년(저학년)을 Class1로 변경
std.loc[std['학년'] == 4, '학년'] = 2     # 4학년(고학년)을 Class2로 변경

X = std[['키', '몸무게', '수축기', '이완기']].values
y = std[['학년']].values

# 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y,     # 비율 유지 위함
                                                    random_state=1)

### 특정 조건 아래에서, 특정 frame의 값 변경하기 

std.loc[std['학년'] == 1, '학년'] = 1     # 1학년(저학년)을 Class1로 변경
<br>

std.loc[std['학년'] == 4, '학년'] = 2     # 4학년(고학년)을 Class2로 변경

In [234]:
''' K-mean Clustring '''

kmeans = KMeans(n_clusters=2, random_state=0).fit(X_train)

size = 10
print("[Train]")
print(y_train[:size, 0])
print(kmeans.labels_[:size])

print("\n[Test]")
print(kmeans.predict (X_test[:size, :]))
print(y_test[:size, 0])

[Train]
[2 2 2 2 1 1 1 2 1 1]
[0 0 0 0 1 1 1 1 0 1]

[Test]
[0 0 1 1 1 0 0 1 0 1]
[2 2 1 2 2 2 2 2 2 1]

In [235]:
# ''' Calc Score '''
# predict 시 1학년을 0으로 하느냐, 4학년을 0으로 하느냐에 따라
# score 결과 값이 변함
# 이를 보완하기 위한 코딩을 할 수 있으나, k-mean의 주 목적이 아닌듯 하여 skip
# 필요하면 도전해보기

# cnt = 0

# for i in range(0, len(X_test)):
#   cmp1 = kmeans.predict([X_test[i, :]])   # class 0, 1 로 분류됨
#   cmp2 = y_test[i, 0]                     # class 1, 2 로 분류됨 
#   if (cmp1 == cmp2) or (cmp1[0] == 0 and cmp2 == 2)  : # (1==1) (0==2) 끼리 같은 그룹
#     cnt += 1

# score = cnt/len(X_test)

# print("Scroe : ", round(score, 4))