<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/linear_quadratic_discriminant_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.model_selection import train_test_split


from google.colab import drive

#불러올 파일의 경로를 filename 변수에 저장
drive.mount('/content/drive')
file_name = '/content/drive/My Drive/Data Mining/student_health_assignment9.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv(file,  encoding='cp949')
print(data.shape)
data.head(1)

(1125, 25)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사 수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  77  58

[1 rows x 25 columns]

In [ ]:
grade = data['학년']
grade.value_counts()  # 1, 4학년만 있음

4    569
1    556
Name: 학년, dtype: int64

In [ ]:
std = pd.DataFrame(data, columns=['수축기', '이완기', '키', '몸무게', '학년'])
std = std.dropna()
std.isnull().sum()

X = std[['키', '몸무게', '수축기', '이완기']].values
y = std[['학년']].values

# 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify=y,
                                                    random_state=1)

In [ ]:
clf = LinearDiscriminantAnalysis()
clf.fit(X ,y)
print(clf.predict (X_test[:5, :]))
print("score", clf.score(X_test, y_test))

[4 4 1 4 4]
score 0.9680851063829787

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
clf = QuadraticDiscriminantAnalysis()
clf.fit(X ,y)
print(clf.predict (X_test[:5, :]))
print("score", clf.score(X_test, y_test))

[4 4 1 4 4]
score 0.9574468085106383

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)