<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Midterm_Problem4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
from sklearn.neighbors import KNeighborsClassifier

#불러올 파일의 경로를 filename 변수에 저장
drive.mount('/content/drive')
file_name = '/content/drive/My Drive/Data Mining/park.csv'

#pandas read_csv로 불러오기
#같은 directory 레벨에 있는 csv 읽어옴
df = pd.read_csv(file_name, encoding='cp949')
# print(df.shape)
df.head(3)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

      년도   구분    일반이용자    운동시설     자전거
0  2009년  광나루  1374424  157913  396165
1  2009년   잠실  1860362   69587  481561
2  2009년   뚝섬  1957592   49270  679795

In [ ]:
df['구분'].value_counts()

잠원     5
난지     5
이촌     5
망원     5
양화     5
광나루    5
여의도    5
반포     5
잠실     5
강서     5
뚝섬     5
Name: 구분, dtype: int64

In [ ]:

std_data = [[n, e, b] for n, e, b in zip(df['일반이용자'], df['운동시설'], df['자전거'])]  # feature (독립변수)
std_target = df['구분']                                      # target  (종속변수)


# 특정값 예측
kn = KNeighborsClassifier(n_neighbors = 1)
kn.fit(std_data, std_target)
kn.score(std_data, std_target)
kn.predict([[1500000, 20000,500000]])

array(['잠실'], dtype=object)