<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#불러올 파일의 경로를 filename 변수에 저장
file = '/content/drive/My Drive/Data Mining/netflix.csv'

#pandas read_csv로 불러오기
df = pd.read_csv(file, encoding='ISO-8859-1')
print(df.shape)
df.head(3)

(5870, 27)

      show_id     type  ... Unnamed: 25 Unnamed: 26
0  81145628.0    Movie  ...         NaN         NaN
1  80117401.0    Movie  ...         NaN         NaN
2  70234439.0  TV Show  ...         NaN         NaN

[3 rows x 27 columns]

In [4]:
base_str = 'Unnamed: '

for i in range(12 ,26+1):
  drop_str = base_str + str(i)
  df = df.drop([drop_str], axis=1)

df.head(3)

      show_id  ...                                        description
0  81145628.0  ...  Before planning an awesome wedding for his gra...
1  80117401.0  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439.0  ...  With the help of three human allies, the Autob...

[3 rows x 12 columns]

In [5]:
df['date_added'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
5865     True
5866     True
5867     True
5868     True
5869     True
Name: date_added, Length: 5870, dtype: bool

In [6]:
df['date_added'].shape

(5870,)

In [7]:
df['date_added']

0       09-Sep-19
1       09-Sep-16
2       08-Sep-18
3       08-Sep-18
4       08-Sep-17
          ...
5865          NaN
5866          NaN
5867          NaN
5868          NaN
5869          NaN
Name: date_added, Length: 5870, dtype: object

In [8]:
df.loc[1999] # 2000부터 null

show_id                                               8.00499e+07
type                                                      TV Show
title                                              Five Came Back
director                                        Laurent Bouzereau
cast            Steven Spielberg, Guillermo del Toro, Lawrence...
country                                             United States
date_added                                              31-Mar-17
release_year                                                 2017
rating                                                      TV-MA
duration                                                 1 Season
listed_in                                              Docuseries
description     Five acclaimed contemporary directors tell the...
Name: 1999, dtype: object

In [9]:
for i in range(2000, 5870):
  df = df.drop(i)

In [10]:
df.shape

(2000, 12)

In [11]:
df

         show_id  ...                                        description
0     81145628.0  ...  Before planning an awesome wedding for his gra...
1     80117401.0  ...  Jandino Asporaat riffs on the challenges of ra...
2     70234439.0  ...  With the help of three human allies, the Autob...
3     80058654.0  ...  When a prison ship crash unleashes hundreds of...
4     80125979.0  ...  When nerdy high schooler Dani finally attracts...
...          ...  ...                                                ...
1995  80170381.0  ...  A hungry fox and three resourceful, surprising...
1996  80142103.0  ...  En route to a fresh start in Los Angeles, youn...
1997  80179907.0  ...  Performing stand-up for a packed house in Lond...
1998  80152842.0  ...  A young couple fights supernatural foes in an ...
1999  80049928.0  ...  Five acclaimed contemporary directors tell the...

[2000 rows x 12 columns]

In [12]:
year = (str(df['date_added'][:]).strip().split('-'))

In [13]:
len(year)

21

In [14]:
date_added = df['date_added'][:].values
date_added

year = []
for y in date_added:
  try:
    year.append(str(y).split('-')[2])
  except:     #예외값 처리
    print(y)

2019
2019