<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Student_health_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
file_name = '/content/drive/My Drive/Data Mining/student_health_3.csv'
df = pd.read_csv(file_name, encoding='cp949')

df.head(3)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사  수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77  58
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83  51
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103  65

[3 rows x 25 columns]

In [20]:
x = df[['키', '몸무게', '수축기', '이완기']]

In [21]:
y = df['학년']

In [22]:
clf = LogisticRegression(random_state=0).fit(x, y)

In [23]:
print("Score : " , clf.score(x,y))

Score :  0.9591111111111111

In [27]:
print("Predict : ", clf.predict([[77, 58, 125, 27]]))

Predict :  [1]

In [28]:
print("Predict Probability : " , clf.predict_proba([[77, 58, 125, 27]]))

Predict Probability :  [[1.00000000e+00 1.91957239e-18]]

In [ ]:
# 예측해야 하는 데이터가 주어져있지 않아서
# csv 파일의 첫번째 학생의 데이터를 predict input으로 집어 넣었습니다.
# 그 결과 1학년으로 예측된 값이 나왔습니다.