<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/Student_health_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
file_name = '/content/drive/My Drive/Data Mining/student_health_3.csv'
df = pd.read_csv(file_name, encoding='cp949')

df.head(3)

            ID       최종가중치  학교ID      도시규모  ... 혈색소gdl  간염검사  수축기 이완기
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   77  58
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN   83  51
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...    NaN   NaN  103  65

[3 rows x 25 columns]

In [56]:
df['학년'].unique()

array([1, 4])

1학년과 4학년, 즉 2개의 카테고리만으로 구성되어 있음을 알 수 있습니다.

In [57]:
x = df[['키', '몸무게', '수축기', '이완기']]
y = df['학년']

In [63]:
clf = LogisticRegression(random_state=0).fit(x, y)
score = clf.score(x,y)
predict =  clf.predict([[125.8, 27.3, 77, 58]])
predict_proba = clf.predict_proba([[125.8, 27.3, 77, 58]])

In [64]:
print("Score : " , score)
print("Predict : ",predict)
print("Predict Probability : " , predict_proba)

Score :  0.9591111111111111
Predict :  [1]
Predict Probability :  [[0.9643986 0.0356014]]

예측해야 하는 데이터가 주어져있지 않아서 <br/>
csv 파일의 첫번째 학생의 데이터를 predict input으로 집어 넣었습니다. <br/>
그 결과 1학년으로 예측된 값이 나왔습니다.