<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/final/DM_final6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from google.colab import drive
from sklearn.cluster import KMeans


drive.mount('/content/drive')
file_name = '/content/drive/My Drive/Data Mining/student_health_5.csv'

data = pd.read_csv(file_name, encoding='cp949')
df = pd.DataFrame(data)
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

            ID       최종가중치  학교ID      도시규모  ... 성별       건강검진일      키   몸무게
0  Aa011남10101  169.550665  Aa01  대도시/중소도시  ...  남  2015-05-12  125.8  27.3
1  Aa011남10102  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-22  124.3  25.4
2  Aa011남10103  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-21  119.2  23.5
3  Aa011남10104  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-21  115.0  20.0
4  Aa011남10105  169.550665  Aa01  대도시/중소도시  ...  남  2015-04-23  120.0  33.5

[5 rows x 17 columns]

In [ ]:
grade = data['학년']
grade.value_counts()  # 1, 4학년만 있음

4    569
1    556
Name: 학년, dtype: int64

In [ ]:
std = pd.DataFrame(df, columns=['키', '몸무게', '학년'])
std = std.dropna()                    # null 값 처리

X = std[['키', '몸무게']].values
y = std[['학년']].values

X

array([[125.8,  27.3],
       [124.3,  25.4],
       [119.2,  23.5],
       ...,
       [130.2,  27.6],
       [146.2,  41.7],
       [129.3,  28.9]])

In [ ]:
''' K-mean Clustring '''
kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
results = kmeans.labels_
print(kmeans.labels_)

for idx in range(0, len(results)):
  if results[idx] == 0:
    results[idx] = 4
    cnt = 0

for idx in range(0, len(results)):
  if results[idx] == y[idx]:
    cnt += 1

print("Accuracy: ", cnt/len(results))

[1 1 1 ... 1 0 1]
Accuracy:  0.9288888888888889