<a href="https://colab.research.google.com/github/KxxHyoRim/Data-Mining/blob/main/final/DM_fianl3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from google.colab import drive

drive.mount('/content/drive')
file_name = '/content/drive/My Drive/Data Mining/subway_1.csv'

data = pd.read_csv(file_name, encoding='cp949')
df = pd.DataFrame(data)
print(df.shape)
df.head(3)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(62, 6)

       사용일자  노선명         역명  승차총승객수  하차총승객수      등록일자
0  20210701   20  왕십리(성동구청)   13591   15315  20210704
1  20210701    5  왕십리(성동구청)    4636    5043  20210704
2  20210702   20  왕십리(성동구청)   14551   16455  20210705

In [ ]:
X = df[['승차총승객수', '하차총승객수']]
y = df['노선명']

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X, y)
clf.predict([[10000, 10000]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([20])